.request-history-page {
  display: flex;
  flex-direction: column;
}

.request-history-content {
  flex: 1; /* Take remaining vertical space */
  margin-left: 10vw; /* Adjust based on Navigation width */
  padding: 20px;
  width: calc(100vw - 10vw); /* Ensure content doesn't overlap Navigation */
  overflow-y: auto; /* Enable scrolling if content exceeds viewport */
}

.request-history-page h1 {
  margin-bottom: 20px;
}

.request-history-page ul {
  list-style-type: none;
  padding: 0;
}

.request-history-page li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.request-history-page p {
  margin: 5px 0;
}
